import /vendor/etc/init/hw/init.rpi5.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi5 --early

on late-fs
    mount_all /vendor/etc/fstab.rpi5 --late

# CAN bus initialization - bring up interfaces early
on post-fs-data
    # restart-ms: recover from bus-off on our own. Seen 2026-09-05 on the bike:
    # with nothing ACKing (bus not yet wired) the HAL's OBD2 polls drove can1
    # to bus-off, which then hid the bus forever without a manual restart.
    exec_background u:r:shell:s0 -- /system/bin/ip link set can0 type can bitrate 250000 restart-ms 100
    exec_background u:r:shell:s0 -- /system/bin/ip link set can0 up
    exec_background u:r:shell:s0 -- /system/bin/ip link set can1 type can bitrate 250000 restart-ms 100
    exec_background u:r:shell:s0 -- /system/bin/ip link set can1 up

# Launch HomeCockpitActivity in right TDA after boot completes
# Note: This runs as user 0, but the persistent routing in MotoSplitDisplayAreaController
# ensures HomeCockpitActivity goes to the right TDA when launched via Home button.
# Auto-launch doesn't work reliably from init due to user context issues.

# GPS initialization - delayed trigger using property
on property:sys.boot_completed=1 && property:service.bootanim.exit=1
    setprop vendor.gnss.init.trigger 1

on property:vendor.gnss.init.trigger=1
    exec u:r:shell:s0 -- /system/bin/cmd location set-location-enabled false
    exec u:r:shell:s0 -- /system/bin/cmd location set-location-enabled true
    exec u:r:shell:s0 -- /system/bin/cmd location set-adas-gnss-location-enabled true
