import /vendor/etc/init/hw/init.rpi5.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi5 --early

on late-fs
    mount_all /vendor/etc/fstab.rpi5 --late

# CAN bus initialization - bring up interfaces early
on post-fs-data
    exec_background u:r:shell:s0 -- /system/bin/ip link set can0 type can bitrate 250000
    exec_background u:r:shell:s0 -- /system/bin/ip link set can0 up
    exec_background u:r:shell:s0 -- /system/bin/ip link set can1 type can bitrate 250000
    exec_background u:r:shell:s0 -- /system/bin/ip link set can1 up

# Start MotoDash and GPS init after boot completes
on property:sys.boot_completed=1
    exec_background u:r:shell:s0 -- /system/bin/am start -W -c android.intent.category.HOME -a android.intent.action.MAIN -n com.moto.dash/.DashActivity

# GPS initialization - delayed trigger using property
on property:sys.boot_completed=1 && property:service.bootanim.exit=1
    setprop vendor.gnss.init.trigger 1

on property:vendor.gnss.init.trigger=1
    exec u:r:shell:s0 -- /system/bin/cmd location set-location-enabled false
    exec u:r:shell:s0 -- /system/bin/cmd location set-location-enabled true
    exec u:r:shell:s0 -- /system/bin/cmd location set-adas-gnss-location-enabled true
